appdirs
audioread
aukit
certifi
cffi
charset-normalizer
click
colorama
dataclasses
decorator
dotmap
Flask
gevent
greenlet
hanziconv
idna
importlib-metadata
importlib-resources
inflect
itsdangerous
jieba
Jinja2
joblib
librosa
llvmlite
MarkupSafe
numba
numpy
Package
packaging
phkit
pip
pooch
pycparser
pydub
pyparsing
pypinyin
PyYAML
requests
resampy
scikit-learn
scipy
setproctitle
setuptools
soundfile
threadpoolctl
torch
tqdm
ttskit
typing_extensions
Unidecode
urllib3
webrtcvad-wheels
Werkzeug
zipp
zope.event
zope.interface
